{% extends 'base.html' %}

{% block content %}

<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />

<div class="container">
<br>
<!--Flash Messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--End flash message-->

<!--Patient navigation-->

<!--End of Patient navigation-->

<br>
<table class="table2">
    <thead>
        <tr>
            <th>Schedule Date</th>
            <th>Work Schedule</th>
            <th>Action</th>

        </tr>
    </thead>
    {% for schedule in schedules  %}
    <tr>
        <td>{{schedule.schedule_date}}</td>
        <td>{{schedule.work_schedule}}</td>

        <td>
            <a class="btn btn-info btn-xs" href="{{url_for('editschedule', id=schedule.id)}}">edit</a>
            <a class="btn btn-danger btn-xs" href="{{url_for('deleteschedule', id=schedule.id)}}" onclick="return confirmOnDelete()">drop</a>
        </td>
    </tr>

    {% endfor %}

 </table>
</div>
</div>

<script type="text/javascript">
    function confirmOnDelete() {
      if (confirm("Are you sure you want to delete this Schedule")) {
        alert("You have selected OK")
        return true;
      }
      else {
        alert("You have selected cancel")
        return false;
      }
    }
  </script>

{% endblock %}