{% extends 'base.html' %}

{% block content %}

<link href="{{url_for('static', filename='fonts/fontawesome-webfont.svg')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='fonts/fontawesome-webfont.otf')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='fonts/fontawesome-webfont.woff2')}}" rel="stylesheet" type="text/css" />

<script>
  function FilterRow(data) {
    console.log("searching for " + data);
    var filter = data;
    var table = document.getElementById("patienttable");
    for (i = 1; i < table.rows.length; i++) {
      var rowdata = table.rows[i].innerHTML;
      console.log(rowdata.toUpperCase());
      if (rowdata.toUpperCase().search(data.toUpperCase()) > -1) { table.rows[i].style.display = ""; }
      else { table.rows[i].style.display = "none"; }
    }

  }
</script>
<br>
<!--Flash Messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
  {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--End flash message-->
<br>
<div>
  <table class="search">
    <tr>
      <td><input class="form-control" style="float: left; min-width:40%;" type="text" onkeydown="FilterRow(this.value)"
          placeholder="Search for a patient" /></td>

    </tr>
  </table>
</div>

<br>
<!--Pagination-->
<div class="pagination">
  {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if patients.page == page_num %}
  <a class="btn btn-info mb-4" href="{{url_for('patient', page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{url_for('patient', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
<!--End of pagination-->
<br>
<br>
<br>
<div class="responsive-container">
  <h4>Registered Patients</h4>
<table id="patienttable">
  <thead>
    <tr>
      <th><b>RegNumber</b></th>
      <th><b>Health care unit</b></th>
      <th><b>Patient name</b></th>
      <th><b>Gender</b></th>
      <th><b>Date of birth<b></th>
      <th><b>Address</b></th>
      <th><b>contact</b></th>
      <th><b>Next of kin</b></th>
      <th><b>Contact phone</b></th>
      <th><b>Religion</b></th>
      <th><b>Tribe</b></th>
      <th><b>Profession</b></th>
      <th><b>Bloodgroup</b></th>
      <th><b>allergy</b></th>
      <th><b></b>Action</b></th>

    </tr>
  </thead>
  {% for patient in patients.items %}
  <tr>
    <td>{{patient.registrationnumber}}</td>
    <td>{{patient.healthcareunit}}</td>
    <td>{{patient.patientname}}</td>
    <td>{{patient.gender}}</td>
    <td>{{patient.dob}}</td>
    <td>{{patient.address}}</td>
    <td>{{patient.contact}}</td>
    <td>{{patient.nextofkin}}</td>
    <td>{{patient.contactphone}}</td>
    <td>{{patient.religion}}</td>
    <td>{{patient.tribe}}</td>
    <td>{{patient.profession}}</td>
    <td>{{patient.bloodgroup}}</td>
    <td>{{patient.allergy}}</td>
    <td>
    
      <a class="btn btn-info btn-xs" href="{{url_for('editpatient', id=patient.id)}}">edit</a>
      <a class="btn btn-danger btn-xs" href="{{url_for('deletepatient', id=patient.id)}}" onclick="return confirmOnDelete();">delete</a>
      <a class="btn btn-warning btn-xs" href="{{url_for('patient_visitation', patient_id=patient.id)}}">more</a>
      <a class="btn btn-primary btn-xs" href="{{url_for('print_data', patient_id=patient.id)}}">print</a>
      
    </td>
  </tr>

  {% endfor %}

</table>
</div>
</div>
<!--Javascrip file-->
<script type="text/javascript">
  function confirmOnDelete() {
    if (confirm("Are you sure you to delete this Patient")) {
      alert("You have selected OK")
      return true;
    }
    else {
      alert("You have selected cancel")
      return false;
    }
  }

</script>

{% endblock %}