
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar{
    position: sticky;
    top: 0px;
    transition: top 5s;
    background: #009879 ;
    text-align: center;
    height: 50px;
    cursor: pointer;
    border-radius: 0;

}
.icon-bar{
    background: darkorange;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    text-decoration: solid 2px;
    text-transform: uppercase;
}
.patientprofile
{
    float: left;
    text-decoration: floralwhite;
    padding-top: 17px;
    padding-left: 5px;
}
.activeuser
{
    float: left;
    color: floralwhite;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 55px;
}
.logout .fa
{
    float: left;
}

.menu-bar ul li
{
    width: 80px;
    margin: 3px;
    padding: 3px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #dddddd;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
    transition: .5s;
}
.sub-menu1
{
    display: none;

}
.menu-bar ul li:hover .sub-menu1
{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 3px;
    margin-left: -3px;
}
.menu-bar ul li:hover .sub-menu1 ul
{
    display: block;
    margin: 3px;
}
.menu-bar ul li:hover .sub-menu1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
    color: #b2ff00;
}

.profile img
{
    width: 30px;
    float: right;
}

body{

    font-family: sans-serif;
}

.responsive-container{
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    width: 100%;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.15);
    position: absolute;
    background: ghostwhite;
}
.responsive-container h4{
    margin: 10px 0;
    color: black;

}
.responsive-container table{
    width: 100%;
    margin: 5px 2.5px;

}
.responsive-container td{
    border-color: solid 1px #ccc;
    
    
}
.responsive-container th{
    background-color:#009879 ;
    color: #ffffff;
    text-align: center;

}
.responsive-container td::before{
    display: none;
}
.responsive-container th, .responsive-container td{
    display: table-cell;
    padding: 10px;
    text-align: center;

}

/* Media Query */

@media(max-width: 767px){
    .responsive-container{
        width: 90%;
    }
    .responsive-container th{
        display: none;
    }
    .responsive-container td{
        display: block;
    }
    .responsive-container td:first-child{
        padding-top: .5em;
    }
    .responsive-container td:last-child{
        padding-bottom: .5em;
    }
    .responsive-container td::before{
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }    

}

.content-table thead tr{
    background-color:#009879 ;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: auto;
    padding: 30px;
}

.responsive-container th
.responsive-container td{
    padding: 20px 25px;
    height: 40px;
    
}
.content-table td
{
    height: 40px;
}


.responsive-container tbody tr{
    border-bottom: 1px solid #dddddd;
}

.responsive-container tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}
.search
{
    float: right;
    position: absolute;
    margin-left: 40px;
}
.pagination
{
    float: right;
    position: absolute;
    margin-left: 40px;  
}

/*
other small tables
*/

.responsive-table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.15);
    position: absolute;
    background: ghostwhite;
}

.responsive-table table{
    width: 100%;
    
}
.responsive-table td{
    border-color: solid 1px #ccc;
    
    
}
.responsive-table th{
    background-color:#009879 ;
    color: #ffffff;
    text-align: center;

}
.responsive-table td::before{
    display: none;
}
.responsive-table th, .responsive-table td{
    display: table-cell;
    padding: 10px;
    text-align: center;

}
.responsive-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.responsive-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}

/* Media Query */

@media(max-width: 767px){
    .responsive-table{
        width: 60%;
    }
    .responsive-table th{
        display: none;
    }
    .responsive-table td{
        display: block;
    }
    .responsive-table td:first-child{
        padding-top: .5em;
    }
    .responsive-table td:last-child{
        padding-bottom: .5em;
    }
    .responsive-table td::before{
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }    

}

.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

.responsive-container th
.responsive-container td{
    padding: 20px 25px;
    height: 40px; 
}

.table2{
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    width: 50%;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.15);
    position: absolute;
    margin-left: 75px;
    border-collapse: collapse;

}

.table2 thead tr{
    background-color:#009879 ;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: auto;
    padding: 30px;
}

.table2 th
.table2 td{
    padding: 20px 25px;
    height: 40px;
    
}
.table td
{
    height: 40px;
}


.table2 tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table2 tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}

.loader_bg{
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.loader{
    border: 0 solid transparent;
    border-radius: inherit;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);

}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #009879;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


.container-dashboard{
    margin-top: 25%;
    
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.4s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.card{
    border-color: black;
    border-radius: 5px;
}

























