{% extends 'base.html' %}

{% block content %}

<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />

<div class="container">
  <br>
  <!--Flash Messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!--End flash message-->

  <!--Patient navigation-->
  <div class="header">
    <div class="menu-bar">
      <div class="patientprofile">
        <p>Welcome to <b>{{patient.patientname}}'s account</b></p>
      </div>
      <ul>
        {% if current_user.access == 'admin' %}
        <li><a href="">visitation</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('newvisitation', patient_id=patient.id)}}">Add visit</a></li>
              <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">visit history</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">Test</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('newtest', patient_id=patient.id)}}">new test</a></li>
              <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">test history</a></li>
        </li>
      </ul>
    </div>
    </li>
    <li><a href="">treatment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">treatment history</a></li>
          <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">add treament</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">payment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">new payment</a></li>
          <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">payment history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">bill</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newbill', patient_id=patient.id)}}">new bill</a></li>
          <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">bill history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">appointment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newappointment', patient_id=patient.id)}}">new appointment</a></li>
          <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">appointment history</a></li>

        </ul>
      </div>
    </li>
    {% else %}

    {% endif %}

    {% if current_user.access == 'nurse' %}
    <li><a href="">visitation</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newvisitation', patient_id=patient.id)}}">Add visit</a></li>
          <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">visit history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">treatment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">treatment history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">payment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">new payment</a></li>
          <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">payment history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">bill</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newbill', patient_id=patient.id)}}">test history</a></li>
          <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">bill history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">appointment</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">appointment history</a></li>
        </ul>
      </div>
    </li>
    {% else %}
    {% endif %}

    {% if current_user.access == 'laboratory' %}
    <li><a href="">visitation</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">visit history</a></li>
        </ul>
      </div>
    </li>
    <li><a href="">Test</a>
      <div class="sub-menu1">
        <ul>
          <li><a href="{{url_for('newtest', patient_id=patient.id)}}">new test</a></li>
          <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">test history</a></li>
    </li>
    </ul>
  </div>
  </li>

  <li><a href="">treatment</a>
    <div class="sub-menu1">
      <ul>
        <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">treatment history</a></li>
      </ul>
    </div>
  </li>

  {% else %}
  {% endif %}

  {% if current_user.access == 'doctor' %}
  <li><a href="">visitation</a>
    <div class="sub-menu1">
      <ul>

        <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">visit history</a></li>
      </ul>
    </div>
  </li>
  <li><a href="">Test</a>
    <div class="sub-menu1">
      <ul>

        <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">test history</a></li>
  </li>
  </ul>
</div>
</li>
<li><a href="">treatment</a>
  <div class="sub-menu1">
    <ul>
      <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">treatment history</a></li>
      <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">add treament</a></li>
    </ul>
  </div>
</li>
<li><a href="">payment</a>
  <div class="sub-menu1">
    <ul>

      <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">payment history</a></li>
    </ul>
  </div>
</li>
<li><a href="">bill</a>
  <div class="sub-menu1">
    <ul>

      <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">bill history</a></li>
    </ul>
  </div>
</li>
<li><a href="">appointment</a>
  <div class="sub-menu1">
    <ul>

      <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">appointment history</a></li>

    </ul>
  </div>
</li>
{% else %}

{% endif %}

</div>
</div>
<!--End of Patient navigation-->
<h3>Bill list for {{patient.patientname}}</h3>
<table class="table2">
  <thead>
    <tr>
      <th>Bill date</th>
      <th>Amount billed (Ugx)</th>
      <th>Patient name</th>
      <th>Action</th>

    </tr>
  </thead>
  {% for bill in patient.bills %}
  <tr>
    <td>{{bill.billdate}}</td>
    <td>{{bill.amountbilled}}</td>
    <td>{{bill.patientname}}</td>
    <td>
      <a class="btn btn-info btn-xs" href="{{url_for('editbill', patient_id=patient.id, id=bill.id)}}">edit</a>
    </td>
  </tr>

  {% endfor %}

</table>
</div>
</div>

{% endblock %}