{% extends 'base.html' %}

{% block content %}

<br>
<!--Flash Messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
  {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--End flash message-->

<!--Patient navigation-->
<nav class="navbar navbar-sticky-top" role="navigation" style="position: relative;
                 background-color: rgb(28, 28, 31);
                 margin-top: 10px;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Caremax</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <!--<li class="nav-item ">
                              <a class="nav-link" href="{{url_for('newvisitation', patient_id=patient.id)}}">Visits</a>
                          </li>-->
      <!--ADMIN ROUTES-->
      {% if current_user.access == 'admin' %}
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Visitation<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newvisitation', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">View visits</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Test<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newtest', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">View tests</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Treatment<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">View treatments</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Payment<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">View payments</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Bill<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newbill', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">View bills</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Appointmet<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newappointment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">View appointments</a></li>
          </ul>

        </a>
      </li>
      {% endif %}
      <!--END OF ADMIN ROUTES-->

      <!--DOCTOR ROUTES-->
      {% if current_user.access == 'doctor' %}
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Visitation<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newvisitation', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">View visits</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Test<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newtest', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">View tests</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Treatment<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">View treatments</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Payment<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">View payments</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Bill<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newbill', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">View bills</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Appointmet<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newappointment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">View appointments</a></li>
          </ul>

        </a>
      </li>
      {% endif %}
      <!--END OF DOCTOR ROUTES-->

      <!--LABORATORY ROUTES-->
      {% if current_user.access == 'laboratory' %}
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Visitation<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">View visits</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Test<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newtest', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">View tests</a></li>
          </ul>
        </a>
      </li>
      <!--<li class="dropdown">
                        <a href="#" class="drown-toggle" data-toggle="dropdown">Treatment<span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">Add new</a></li>
                              <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">View treatments</a></li>
                          </ul>
                      </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="drown-toggle" data-toggle="dropdown">Payment<span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">Add new</a></li>
                              <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">View payments</a></li>
                          </ul>
                      </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="drown-toggle" data-toggle="dropdown">Bill<span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('newbill', patient_id=patient.id)}}">Add new</a></li>
                              <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">View bills</a></li>
                          </ul>
                      </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="drown-toggle" data-toggle="dropdown">Appointmet<span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('newappointment', patient_id=patient.id)}}">Add new</a></li>
                              <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">View appointments</a></li>
                          </ul>
                          
                      </a>
                    </li>-->
      {% endif %}
      <!--END OF LABORATORY ROUTES-->

      <!--NURSE ROUTES-->
      {% if current_user.access == 'nurse' %}

      <!--<li class="dropdown">
                        <a href="#" class="drown-toggle" data-toggle="dropdown">Test<span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('newtest', patient_id=patient.id)}}">Add new</a></li>
                              <li><a href="{{url_for('patient_test', patient_id=patient.id)}}">View tests</a></li>
                          </ul>
                      </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="drown-toggle" data-toggle="dropdown">Treatment<span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}">Add new</a></li>
                            <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}">View treatments</a></li>
                        </ul>
                    </a>
                  </li>-->
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Payment<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newpayment', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}">View payments</a></li>
          </ul>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="drown-toggle" data-toggle="dropdown">Bill<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('newbill', patient_id=patient.id)}}">Add new</a></li>
            <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}">View bills</a></li>
          </ul>
        </a>
      </li>
      <!--<li class="dropdown">
                      <a href="#" class="drown-toggle" data-toggle="dropdown">Appointmet<span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('newappointment', patient_id=patient.id)}}">Add new</a></li>
                            <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}">View appointments</a></li>
                        </ul>
                        
                    </a>
                  </li>-->
      {% endif %}
      <!--END OF NURSE ROUTES-->


    </ul>

  </div>

</nav>

<!--End of Patient navigation-->

<h4>Visitation list for {{patient.patientname}}</h4>
<br>
<table class="table2">
  <thead>
    <tr>
      <th>Visitation date</th>
      <th>Present Complaint</th>
      <th>Previous Complaint</th>
      <th>Lab Recommandetion</th>
      <th>Action</th>
    </tr>
  </thead>
  {% for visitation in patient.visitations %}
  <tr>
    <td>{{visitation.visitationdate}}</td>
    <td>{{visitation.presentcomplaint}}</td>
    <td>{{visitation.previouscomplaint}}</td>
    <td>{{visitation.labrecommendation}}</td>

    <td>
      <a href="{{url_for('editvisitation', patient_id=patient.id, id=visitation.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    </td>
  </tr>

  {% endfor %}
</table>

{% endblock %}

