{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br>
  <!--Flash Messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!--End flash message-->

  <!--Patient navigation-->

  <div class="header">
    <div class="menu-bar">
      <div class="patientprofile">
      <p>Welcome to <b>{{patient.patientname}}'s account</b></p>
      </div>
      <ul>
        <li><a href="">visitation</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('newvisitation', patient_id=patient.id)}}">add visit</a></li>
              <li><a href="{{url_for('patient_visitation', patient_id=patient.id)}}">visit history</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">Test</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient_test', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>test history</a></li>
              <li><a href="{{url_for('newtest', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add test</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="">treatment</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient_treatment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>treatment history</a></li>
              <li><a href="{{url_for('newtreatment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add treament</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">payment</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient_payment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>payment history</a></li>
              <li><a href="{{url_for('newpayment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add payment</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">bill</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient_bill', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>bill history</a></li>
              <li><a href="{{url_for('newbill', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add bill</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">appointment</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient_appointment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>appointment history</a></li>
              <li><a href="{{url_for('newappointment', patient_id=patient.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add payment</a></li>
            </ul>
          </div>
        </li>
      </div>
    </div>
    <!--End of Patient navigation-->

    <!--<h4>Visitation list for {{patient.patientname}}</h4>-->
    <br>
    <table class="table2">
      <thead>
        <tr>
          <th>Visitation date</th>
          <th>Present Complaint</th>
          <th>Previous Complaint</th>
          <th>Lab Recommandetion</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for visitation in patient.visitations %}
      <tr>
        <td>{{visitation.visitationdate}}</td>
        <td>{{visitation.presentcomplaint}}</td>
        <td>{{visitation.previouscomplaint}}</td>
        <td>{{visitation.labrecommendation}}</td>

        <td>
          <a href="{{url_for('editvisitation', patient_id=patient.id, id=visitation.id)}}"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      {% endfor %}
    </table>
  </div>
  {% endblock %}