<!DOCTYPE html>
<html lang="en">

<head>

  <title>caremax</title>

  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
  <!--<link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet" type="text/css" />-->
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <link
    href="{{url_for('static', filename='css/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}"
    rel="stylesheet" type="text/css" />
  <!-- Bootstrap -->

</head>

<body>

  <div class="header">
    <div class="menu-bar" id="menu">
      <div>
      </div>
      <div class="activeuser">
        <p>Hello, {{ current_user.username }} <img src="{{url_for('static', filename='img/t1.jpg')}}" alt="user-image"
            class="img-circle" height="30" width="30"></p>
      </div>
      {% if current_user.access == 'admin' %}
      
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Patient</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('patient')}}">Registered Patients</a></li>
              <li><a href="{{url_for('newpatient')}}">Add Patient</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">user</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('registration')}}"><i class="fa fa-user" aria-hidden="true"></i></i>user list</a>
              </li>
              <li><a href="{{url_for('newuser')}}"><i class="fa fa-users" aria-hidden="true"></i>add user</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="">family</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('family')}}"></i>family list</a></li>
              <li><a href="newfamily"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add family</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">schedule</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('schedule')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>schedule
                  list</a></li>
              <li><a href="{{url_for('new_schedule')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add
                  schedule</a></li>
            </ul>
          </div>
        </li>
        {% endif %}

        {% if current_user.access == 'doctor' %}
        <ul>
          <li class="active"><a href=""></i>Home</a><i class="fa fa-home" aria-hidden="true"></i></li>
          <li><a href="">Patient</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('patient')}}">Registered Patients</a></li>
                <li><a href="{{url_for('newpatient')}}">add patient</a></li>
              </ul>
            </div>
          </li>
          <li><a href="">family</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('family')}}"></i>family list</a></li>
                <li><a href="newfamily"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add family</a></li>
              </ul>
            </div>
          </li>
          <li><a href="">schedule</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('schedule')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>schedule
                    list</a></li>
                <li><a href="{{url_for('new_schedule')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add
                    schedule</a></li>
              </ul>
            </div>
          </li>
          {% else %}

          {% endif %}

          {% if current_user.access == 'nurse' %}
          <ul>
            <li class="active"><a href=""></i>Home</a><i class="fa fa-home" aria-hidden="true"></i></li>
            <li><a href="">Patient</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('patient')}}">Registered Patients</a></li>
                  <li><a href="{{url_for('newpatient')}}">add patient</a></li>
                </ul>
              </div>
            </li>
            <li><a href="">family</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('family')}}"></i>family list</a></li>
                  <li><a href="newfamily"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add family</a></li>
                </ul>
              </div>
            </li>
            <li><a href="">schedule</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('schedule')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>schedule
                      list</a></li>
                </ul>
              </div>
            </li>
            {% else %}

            {% endif %}

            {% if current_user.access == 'laboratory' %}
            <ul>
              <li class="active"><a href=""></i>Home</a><i class="fa fa-home" aria-hidden="true"></i></li>
              <li><a href="">Patient</a>
                <div class="sub-menu1">
                  <ul>
                    <li><a href="{{url_for('patient')}}">Registered Patients</a></li>
                  </ul>
                </div>
              </li>
              <!--<li><a href="">family</a>
          <div class="sub-menu1">
            <ul>
              <li><a href="{{url_for('family')}}"></i>family list</a></li>
              <li><a href="newfamily"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add family</a></li>
            </ul>
          </div>
        </li>-->
              <li><a href="">schedule</a>
                <div class="sub-menu1">
                  <ul>
                    <li><a href="{{url_for('schedule')}}"><i class="fa fa-pencil-square-o"
                          aria-hidden="true"></i>schedule list</a></li>
                  </ul>
                </div>
              </li>
              
              {% endif %}

              <li><a href="{{url_for('logout')}}">Sign-out</a>
                <!--<div class="sub-menu1">
            <ul>
              <li><a href=""></i>Sign-out</a></li>
              <li><a href="newfamily"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>add family</a></li>
            </ul>
          </div>-->
              </li>

            </ul>
    </div>
  </div>

  <div class="loader_bg">
    <div class="loader"></div>
  </div>

  {% block content %}

  {% endblock %}

  </div>
</body>

<script>
  
  setTimeout(function () {
    $('.loader_bg').fadeToggle();
  }, 1500);

</script>

<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootbox.all.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


</html>