<!DOCTYPE html>
<html lang="en">

<head>

  <title>caremax</title>

  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
  <!--<link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet" type="text/css" />-->
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <link
    href="{{url_for('static', filename='css/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}"
    rel="stylesheet" type="text/css" />
  <!-- Bootstrap -->

</head>

<body>

  <div class="header">

    <div class="menu-bar" id="menu">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="activeuser">
        <p>Hello, {{ current_user.username }} <img src="{{url_for('static', filename='img/t1.jpg')}}" alt="user-image"
            class="img-circle" height="30" width="30"></p>
      </div>
      {% if current_user.access == 'admin' %}

      <div class="collapse navbar-collapse" id="micon">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="">Patient</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('patient')}}">Patients</a></li>
                <li><a href="{{url_for('newpatient')}}">Add Patient</a></li>
              </ul>
            </div>
          </li>
          <li><a href="">user</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('registration')}}">users</a>
                </li>
                <li><a href="{{url_for('newuser')}}">add user</a>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="">family</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('family')}}"></i>families</a></li>
                <li><a href="{{url_for('newfamily')}}">add family</a></li>
              </ul>
            </div>
          </li>
          <li><a href="">schedule</a>
            <div class="sub-menu1">
              <ul>
                <li><a href="{{url_for('schedule')}}">schedules</a></li>
                <li><a href="{{url_for('new_schedule')}}">add schedule</a></li>
              </ul>
            </div>
          </li>
          {% endif %}

          {% if current_user.access == 'user' %}

          <ul>
            <li class="active"><a href="">Home</a></li>
            <li><a href="">Patient</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('patient')}}">Patients</a></li>
                  <li><a href="{{url_for('newpatient')}}">Add Patient</a></li>
                </ul>
              </div>
            </li>
            <li><a href="">family</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('family')}}"></i>families</a></li>
                  <li><a href="{{url_for('newfamily')}}">add family</a></li>
                </ul>
              </div>
            </li>
            <li><a href="">schedule</a>
              <div class="sub-menu1">
                <ul>
                  <li><a href="{{url_for('schedule')}}">schedules</a></li>
                  <li><a href="{{url_for('new_schedule')}}">add schedule</a></li>
                </ul>
              </div>
            </li>
            {% endif %}
            <li><a href="{{url_for('logout')}}">Sign-out</a>

            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="loader_bg">
    <div class="loader"></div>
  </div>

  {% block content %}

  {% endblock %}

  </div>
</body>

<script>

  setTimeout(function () {
    $('.loader_bg').fadeToggle();
  }, 1500);

</script>

<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootbox.all.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


</html>