{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Bill list</h3>
    
    <table  style="border: 1px;" class="table table-strip table-bordered table-hover table-condensed table-responsive" height="70%">
     <thead>
         <tr>
                 <th>Bill date</th>
                 <th>Amount billed (Ugx)</th>
                 <th>Patient name</th>
                 <th>Action</th>
                 
             
         </tr>
     </thead>
     {% for bill in bills %}
     <tr>
         <td>{{bill.billdate}}</td>
         <td>{{bill.amountbilled}}</td>
         <td>{{bill.patientname}}</td>
         <td>
             <a class="btn btn-success btn-sm" href="/bill/editbill/{{bill.billid}}">Update</a>
             <a class="btn btn-danger btn-sm" href="/bill/deletebill/{{bill.billid}}">Drop</a>
         </td>
     </tr>

     {% endfor %}
     
    </table>
    
{% endblock %}

