{% extends 'base.html' %}

{% block content %}

<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" type="text/css" />

<br>
<div class="container">

  <!--Flash Messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  <!-- Main content -->
  
<body>
<div class="col-md-4">
  <div class="container-dashboard">
    <div class="row justice-container-center">
      <div class="col-md-4">
        <div class="card shadow" style="width: 35rem;">
          <div class="inner">
            <img src=" {{url_for('static', filename='img/welcome.jpg')}} " class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>What caremax does</b></h5>
            <p class="card-text">Caremax is web app built on a secure platform that manages patients information.</p>
            <p>It records a patient's visit whenever a patient visits a hospital and a visit include visitation, test, treatment and payments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="container-dashboard">
    <div class="row justice-container-center">
      <div class="col-md-4">
        <div class="card shadow" style="width: 35rem;">
          <div class="inner">
            <img src=" {{url_for('static', filename='img/access.jpg')}} " class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Security and Usage</b></h5>
            <p class="card-text">
              Caremax is a secure app whereby it only allows registered users to access its functionality
            </p>
            <p>More so these users have previledge/rights of access</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="container-dashboard">
    <div class="row justice-container-center">
      <div class="col-md-4">
        <div class="card shadow" style="width: 35rem;">
          <div class="inner">
            <img src=" {{url_for('static', filename='img/team.jpg')}} " class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Development Team</b></h5>
            <p class="card-text">This application is developed in a team of several developers so any change concerns awhole team.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End of First Row-->

<div class="col-md-4">
  <div class="container-dashboard">
    <div class="row justice-container-center">
      <div class="col-md-4">
        <div class="card shadow" style="width: 30rem;">
          <div class="inner">
            <img src=" {{url_for('static', filename='img/patient.jpg')}} " class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Development Team</b></h5>
            <p class="card-text">This application is developed in a team of several developers so any change concerns awhole team.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>

{% endblock  %}