
{% extends 'base.html' %}

{% block content %}

 <div class="container">
    <div>
    <legend class="border-bottom mb-4">Update test </legend>
    </div>
    <form action="" method="POST">
         
       {{ form.hidden_tag() }}
       {% for field in form if field.widget.input_type != 'hidden' %}
       <p>
       {{field.label (class="form-control-lable")}}
       {{field (class="form-control form-control-md")}}
       
       <span>
       {% if field.errors %}
        {% for error in field.errors %}
         {{ error }}
       {% endfor %}
       {% endif %}
       </span>

       </p>
       {% endfor %}
  <div>
       <button class="btn btn-secondary">Update patient</button>
  </div>
    </form>
    </div>
    </div>
   
{% endblock %}