
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>login</title>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/dist/img/ico/favicon.png" type="image/x-icon">
    

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Pe-icon-7-stroke -->
    <link href="{{url_for('static', filename='css/store.css')}}" rel="stylesheet" type="text/css"/>
    <!-- style css -->
    <link href="{{url_for('static', filename='css/stylehealth.min.css')}}" rel="stylesheet" type="text/css"/>
    <!-- Theme style rtl -->
    <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>

{% block content %}
    <!-- Content Wrapper -->
    <div class="login-wrapper">
        <div class="back-link">
           <!-- <a href="index.html" class="btn btn-success">Back to Dashboard</a>-->
        </div>
        <div class="container-center">
            <div class="panel panel-bd">
                <div class="panel-heading">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe-7s-unlock"></i>
                        </div>
                        <div class="header-title">
                            <h3>Login</h3>
                            <small><strong>Please enter your credentials to login.</strong></small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{url_for('login')}}" method="POST"  id="LoginForm" novalidate >
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                         <p>
                            {{field.label (class="form-control-lable")}}
                            {{field (class="form-control form-control-md")}}
                         <span>
                           {% if field.errors %}
                           {% for error in field.errors %}
                           <span class="text-danger">{{ error }}</span>
                           {% endfor %}
                           {% endif %}
                           </span>
                         </p>
                          {% endfor %}
                        
                            <button class="btn btn-primary">Login</button>
                            <!--<a class="btn btn-warning" href="register.html">Register</a>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
</body>
</html>