
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Payment list</h3>
    <div class="card-panel">
    <table style="border: 1px;" class="table table-strip table-bordered table-hover table-condensed table-responsive">
     <thead style="align-items: center;">
         <tr>
                 <th>Payment date</th>
                 <th>Amount paid (Ugx)</th>
                 <th>Balance (Ugx)</th>
                 <th>Payeename</th>
                 <th>Action</th>
                 
             
         </tr>
     </thead>
     {% for payment in payments %}
     <tr>
         <td>{{payment.paymentdate}}</td>
         <td>{{payment.amountpaid}}</td>
         <td>{{payment.balance}}</td>
         <td>{{payment.payeename}}</td>

         <td>
             <a class="btn btn-success btn-sm" href="/editpayment/{{payment.paymentid}}">Update</a>
             <a class="btn btn-danger btn-sm" href="/deletepayment/{{payment.paymentid}}">Drop</a>
         </td>
     </tr>

     {% endfor %}
     
    </table>
    </div>
   
{% endblock %}