<!DOCTYPE html>
<html lang="en">

<head>

    <title>caremax</title>

    <!-- jquery-ui css -->
    <link href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/jquery-ui-1.12.4.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Lobipanel css -->
    <link href="{{url_for('static', filename='css/lobipanel.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Pace css -->
    <link href="{{url_for('static', filename='css/flash.css')}}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Pe-icon -->
    <link href="{{url_for('static', filename='css/store.css')}}" rel="stylesheet" type="text/css" />
    <!-- Themify icons -->
    <link href="{{url_for('static', filename='css/themify-icon.css')}}" rel="stylesheet" type="text/css" />
    <!-- End Global Mandatory Style
        =====================================================================-->
    <!-- Start page Label Plugins 
        =====================================================================-->

    <!-- End page Label Plugins 
        =====================================================================-->
    <!-- Start Theme Layout Style
        =====================================================================-->
    <!-- Theme style -->
    <link href="{{url_for('static', filename='css/stylehealth.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.svg')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.otf')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.woff2')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.ttf')}}" rel="stylesheet" type="text/css" />

    <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
    <!-- End Theme Layout Style
        =====================================================================-->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/jquery-ui/jquery-ui.css')}}">
</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top ">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <!-- Sidebar toggle button-->
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-tasks"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown dropdown-user admin-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="user-image">
                                    <h7>Hello, <strong>{{ current_user.username }}</strong></h7>
                                    <img src="{{url_for('static', filename='img/t1.jpg')}}" class="img-circle"
                                        height="40" width="40" alt="User Image">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="profile.html"><i class="fa fa-users"></i> User Profile</a></li>
                                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                                <li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
       <!--<aside class="main-sidebar">-->
            <!-- sidebar -->
            <!--<div class="sidebar">
                <!-- Sidebar user panel -->
                <!--<div class="user-panel">
                    <div class="image pull-left">
                        <!--<img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                    <!--</div>
                    <div class="info">
                        <h4 style="color: white; text-align: center;">caremax</h4>
                        <!--<p>Mr. Alrazy</p>-->
                    </div>
                </div>
                <!-- sidebar menu -->
                <!--<ul class="sidebar-menu">
                    <li class="active">
                        <a href="{{url_for('dashboard')}}"><i class="fa fa-home"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <!---<li class="treeview">
                            <a href="#">
                                <i class="fa fa-user-md"></i><span>Doctor</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="forms_basic.html">Add Doctor</a></li>
                                <li><a href="table.html">Doctor list</a></li>
                                
                            </ul>
                        </li>-->
                    <!--ADMIN ROUTES-->
                    {% if current_user.access == 'admin' %}
                   <!-- <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newpatient')}}">Add patient</a></li>
                            <li><a href="{{url_for('patient')}}">patient list</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i><span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newuser')}}">Add user</a></li>
                            <li><a href="{{url_for('registration')}}">User list</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i><span>Family files</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newfamily')}}">Register a family</a></li>
                            <li><a href="{{url_for('family')}}">Families</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <!--END OF ADMIN ROUTES-->
                    <!--DOCTOR ROUTES-->
                    {% if current_user.access == 'doctor' %}
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newpatient')}}">Add patient</a></li>
                            <li><a href="{{url_for('patient')}}">patient list</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i><span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newuser')}}">Register a user</a></li>
                            <li><a href="{{url_for('registration')}}">User list</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i><span>Family files</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newfamily')}}">Register a family</a></li>
                            <li><a href="{{url_for('family')}}">Families</a></li>
                        </ul>
                    </li>
                    {% else %}
                     
                    {% endif %}
                    
                    <!--END OF DOCTOR ROUTES-->

                    <!--NURSE ROUTE-->
                    {% if current_user.access =='nurse' %}
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newpatient')}}">Add patient</a></li>
                            <li><a href="{{url_for('patient')}}">patient list</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i><span>Family files</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newfamily')}}">Register a family</a></li>
                            <li><a href="{{url_for('family')}}">Families</a></li>
                        </ul>
                    </li>
                    {% else %}
                        
                    

                    {% endif %}
                    <!--END OF NURSE ROUTES-->

                    <!--LABORATORY ROUTES-->
                    {% if current_user.access =='laboratory' %}
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('patient')}}">patient list</a></li>
                        </ul>
                    </li>
                    
                    {% else %}
                      
                    {% endif %}
                    <!--END LABORATORY ROUTES-->
                    <!--PATIENT ROUTES-->
                    {% if current_user.access =='guest' %}
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{url_for('newpatient')}}">Add patient</a></li>
                            <li><a href="{{url_for('patient')}}">patient list</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i><span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        
                    </li>
                    {% endif %}
                    <!--PATIENT ROUTES-->

                    <!--<li class="treeview">
                        <a href="widgets.html">
                            <i class="fa fa-user-circle-o"></i><span>Human Resources</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-emp.html">Add Employee</a></li>
                            <li><a href="emp-list.html">employee list</a></li>
                            <li><a href="add-ns.html">Add Nurse</a></li>
                            <li><a href="ns-list.html">Nurse list</a></li>
                            <li><a href="add-ph.html">Add pharmacist</a></li>
                            <li><a href="ph-list.html">pharmacist list</a></li>
                            <li><a href="add-rep.html">Add Representative</a></li>
                            <li><a href="rep-list.html">Representative list</a></li>
                            
                        </ul>
                    </li>-->
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-bed"></i><span>Bed Manager</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-bed.html">Add Bed</a></li>
                            <li><a href="bed-list.html">Bed list</a></li>
                        </ul>
                    </li>-->
                    <!--<li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i><span>Notice</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-notice.html">Add Notice</a></li>
                            <li><a href="not-list.html">Notice list</a></li>
                        </ul>
                    </li>-->

                    <!--<li>
                        <a href="mailbox.html">
                         <i class="fa fa-envelope"></i><span> Mail</span>
                     </a>
                 </li>
                 <li>
                    <a href="widgets.html">
                        <i class="fa fa-shopping-bag"></i><span> Widgets</span> 
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-text"></i><span>pages</span>
                        <span class="pull-right-container">
                         <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="register.html">Sign up</a></li>
                        <li><a href="login.html">Sign in</a></li>
                        <li><a href="forget_password.html">Forget password</a></li>
                        <li><a href="lockscreen.html">Lockscreen</a></li>
                        <li><a href="404.html">404 Error</a></li>
                        <li><a href="505.html">505 Error</a></li>
                        <li><a href="blank.html">Blank Page</a></li>
                        <li><a href="profile.html">Profile page</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-list-alt fw"></i><span> User Interface</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="calender.html">Calender</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="panels.html">Panels</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="tabs.html">Tabs & accordian</a></li>
                        <li><a href="icons_fontawesome.html">Icons</a></li>
                        <li><a href="notification.html">Notifications</a></li>
                        <li><a href="profile.html">Modals</a></li>
                        <li><a href="gridSystem.html">grid</a></li>
                        <li><a href="slider.html">slider</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="labels-badges-alerts.html">Badges</a></li>
                        <li><a href="progressbars.html">progress bar</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="modals.html">
                        <i class="fa fa-window-maximize"></i><span> Modals</span> 
                    </a>
                </li>
                
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-columns"></i><span> Layout</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="layout_fixed.html">Fixed layout</a></li>
                        <li><a href="layout_boxed.html">Boxed layout</a></li>
                        <li><a href="layout_collapsed_sidebar.html">collapsed layout</a></li>
                    </ul>
                </li>                
            </ul>  
        </div>  /.sidebar -->
        </aside>

        <!-- Start Core Plugins
        =====================================================================-->
        {% block content %}

        {% endblock %}

        <script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>

        <!--<script src="{{url_for('static', filename='js/jquery-3.4.1.slim.js')}}" type="text/javascript"></script>-->
        <script src="{{url_for('static', filename='js/popper.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/jquery.easyModal.js')}}" type="text/javascript"></script>

        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
        <!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>-->
        <!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui-1.12.1.min.js')}}"></script>-->
        <script src="{{url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>
        <!--<script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>-->
        <script src="{{url_for('static', filename='js/custom1.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
        <!-- End Core Plugins-->

    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">

<head>

    <title>caremax</title>

    <!-- jquery-ui css -->
    <link href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/jquery-ui-1.12.4.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Lobipanel css -->
    <link href="{{url_for('static', filename='css/lobipanel.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Pace css -->
    <link href="{{url_for('static', filename='css/flash.css')}}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Pe-icon -->
    <link href="{{url_for('static', filename='css/store.css')}}" rel="stylesheet" type="text/css" />
    <!-- Themify icons -->
    <link href="{{url_for('static', filename='css/themify-icon.css')}}" rel="stylesheet" type="text/css" />
    <!-- End Global Mandatory Style
        =====================================================================-->
    <!-- Start page Label Plugins 
        =====================================================================-->

    <!-- End page Label Plugins 
        =====================================================================-->
    <!-- Start Theme Layout Style
        =====================================================================-->
    <!-- Theme style -->
    <link href="{{url_for('static', filename='css/stylehealth.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.svg')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.otf')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.woff2')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='fonts/fontawesome-webfont.ttf')}}" rel="stylesheet" type="text/css" />

    <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
    <!-- End Theme Layout Style
        =====================================================================-->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/jquery-ui/jquery-ui.css')}}">
</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top ">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="drown-toggle" data-toggle="dropdown">Visitation<span class="caret"></span>
                              <ul class="dropdown-menu">
                                <li><a href="#">View visits</a></li>
                              </ul>
                            </a>
                          </li>

                        <li class="dropdown dropdown-user admin-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="user-image">
                                    <h7>Hello, <strong>{{ current_user.username }}</strong></h7>
                                    <img src="{{url_for('static', filename='img/t1.jpg')}}" class="img-circle"
                                        height="40" width="40" alt="User Image">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="profile.html"><i class="fa fa-users"></i> User Profile</a></li>
                                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                                <li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
       
        {% block content %}

        {% endblock %}

        <script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>

        <!--<script src="{{url_for('static', filename='js/jquery-3.4.1.slim.js')}}" type="text/javascript"></script>-->
        <script src="{{url_for('static', filename='js/popper.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/jquery.easyModal.js')}}" type="text/javascript"></script>

        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
        <!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>-->
        <!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui-1.12.1.min.js')}}"></script>-->
        <script src="{{url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>
        <!--<script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>-->
        <script src="{{url_for('static', filename='js/custom1.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
        <!-- End Core Plugins-->

    </div>
</body>
</html>





<script>
    var menu = document.getElementById('menu');
    window.onscroll = function () {
      if (window.pageYOffset > 100) {
        menu.style.position = "fixed";
        menu.style.top = 0;
      } else {
        menu.style.position = "absolute";
        menu.style.top = 100;
      }
    }
  
  </script>



<form action="" method="POST">
         
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
    {{field.label (class="form-control-lable")}}
    {{field (class="form-control form-control-md")}}
    
    <span>
    {% if field.errors %}
     {% for error in field.errors %}
      {{ error  }}
    {% endfor %}
    {% endif %}
    </span>

    </p>
    {% endfor %}
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">upadate test</button>
    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
 </form>




 <!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>login</title>

<!-- Favicon and touch icons -->
<link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

</head>

<body>

  <!--Flash Messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!--End of flask messsages-->

  {% block content %}

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Include the above in your HEAD tag -->

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <div class="main">


    <div class="container">
      <center>
        <div class="middle">
          <div id="login">

            <form action="{{url_for('login')}}" method="POST">

              {{ form.hidden_tag() }}
              {% for field in form if field.widget.input_type != 'hidden' %}
              <p>

                <span>
                  {% if field.errors %}
                  {% for error in field.errors %}
                  <span class="text-danger"> {{ error }}</span>
                  {% endfor %}
                  {% endif %}
                </span>

              </p>
              {% endfor %}

              <!--<p ><span class="fa fa-user"></span>{{ form.username }}</p> 
            <p><span class="fa fa-lock"></span>{{ form.password }} </p> -->

              <div>
                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                    password?</a></span>
                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit"
                    value="Sign In"></span>
              </div>

              </fieldset>
              <div class="clearfix"></div>
            </form>

            <div class="clearfix"></div>

          </div> <!-- end login -->
          <div class="logo">Caremax

            <div class="clearfix"></div>
          </div>

        </div>
      </center>
    </div>

  </div>

  {% endblock %}

  <!-- jQuery -->
  <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}" type="text/javascript"></script>
  <!-- bootstrap js -->
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
</body>

</html>