
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5>Visitation list</h5>
    
    <table style="border: 1px;" class="table table-strip table-bordered table-hover table-condensed table-responsive">
     <thead style="align-items: center;">
         <tr>
                 <th>Visitation date</th>
                 <th>Present Complaint</th>
                 <th>Previous Complaint</th>
                 <th>Lab Recommandetion</th>
                 <th>Action</th>
                 
             
         </tr>
     </thead>
     {% for visitation in visits %}
     <tr>
         <td>{{visitation.visitationdate}}</td>
         <td>{{visitation.presentcomplaint}}</td>
         <td>{{visitation.previouscomplaint}}</td>
         <td>{{visitation.comment}}</td>

         <td>
             <a class="btn btn-success btn-sm" href="/editvisitation/{{visitation.visitationid}}">Update</a>
             <a class="btn btn-danger btn-sm" href="/deletevisitation/{{visitation.visitationid}}">Drop</a>
         </td>
     </tr>

     {% endfor %}
     
    </table>
    </div>
    <script type="text/jquery" src="{{url_for('static', filename = 'jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename ='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootboxjs/bootbox.js')}}"></script>
{% endblock %}