
{% extends 'base.html' %}

{% block content %}

<div class="modal-dialog modal-fade" id="myModal">
      <div class="modal-content"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" >new appointment</h4>
               <hr>
               <div class="modal-body">

                    <form action="{{url_for('patient_appointment', patient_id=patient.id)}}" method="POST">
         
                         {{ form.hidden_tag() }}
                         {% for field in form if field.widget.input_type != 'hidden' %}
                         <p>
                         {{field.label (class="form-control-lable")}}
                         {{field (class="form-control form-control-md")}}
                         
                         <span>
                         {% if field.errors %}
                          {% for error in field.errors %}
                           {{ error }}
                         {% endfor %}
                         {% endif %}
                         </span>
                  
                         </p>
                         {% endfor %}
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-primary" onclick="return confirmOnSubmit();">Submit</button>
                         <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                    </div>
                      </form>
                      </div>
                      </div>
                  </div>

               </div>

</div>

<script type="text/javascript">
     function confirmOnSubmit(){
       if (confirm("Would you like to save this Appointment")){
         alert("You have selected OK")
         return true;
       }
       else{
         alert("You have selected cancel")
         return false;
       }
     }
   </script> 

{% endblock %}